@import "../../../../Shared/Style/globalStyleVariables.scss";

.downloadApp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  gap: 40px;
}
.downloadApp__imgWrap {
  width: 50%;
  box-sizing: border-box;
  position: relative;
  padding-top: 30px;
  &::after {
    content: "";
    @include threeStrips2;
    position: absolute;
    right: 50%;
    top: 20px;
    transform-origin: 50% 50%;
    transform: rotate(180deg) translateX(-180px);
  }
}
.downloadApp__img {
}
.downloadApp__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.downloadApp__header {
  margin-left: 0;
  margin-right: 0;
  margin-top: 18px;
  margin-bottom: 16px;
}
.downloadApp__specHeader {
}

.downloadApp__list {
  font-family: Inter;
  font-size: 20.33px;
  font-weight: 400;
  line-height: 30.5px;
  text-align: left;
  color: rgba(103, 103, 103, 1);
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  gap: 20px;
}

.downloadApp__btnWrap {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.downloadApp__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 90px;
  position: relative;
  &::after {
    content: "";
    @include Spiralpfeil1;
    position: absolute;
    top: 100%;
    left: 100%;
  }
}

@media (max-width: 1024px) {
  .downloadApp__list {
    font-size: 14.46px;
    line-height: 21.69px;
  }
}
@media (max-width: 768px) {
  .downloadApp {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
  }
  .downloadApp__imgWrap {
    width: 100%;
  }
  .downloadApp__info {
    width: 100%;
  }
  .downloadApp__header {
    text-align: center;
  }
  .downloadApp__btnWrap {
    justify-content: space-around;
  }
  .downloadApp__btn {
    margin-bottom: 50px;
    &::after {
      top: 150%;
      left: -80px;
      transform-origin: center center;
      transform: rotate(108deg);
    }
  }
}
@media (max-width: 375px) {
  .downloadApp__list {
    font-size: 11.96px;
    line-height: 17.94px;
  }
}
