@import "../../../../Shared/Style/globalStyleVariables.scss";

.features {
  position: relative;
  width: 100%;
  background-color: $primaryColor;
  padding: 49px 0;
  overflow: hidden;
}
.features__header {
}
.features__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $baseColor;
}
.features__itemWrap {
  padding: 0 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child):not(:first-child) {
    border-left: 1px solid rgba(197, 197, 197, 0.15);
    border-right: 1px solid rgba(197, 197, 197, 0.15);
  }
}

.features__headItem {
  font-family: "Inter";
  font-size: 43.2px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  width: 263px;
}
.features__discriptionItem {
  width: 263px;
  margin: 0;
  font-family: Inter;
  font-size: 14.4px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: center;
  color: rgba(203, 213, 225, 1);
}
.features__decorWrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  svg {
    position: absolute;
  }
}
.features__decor1 {
  top: 0;
  left: 0;
}
.features__decor2 {
  top: 0;
  left: 0;
}
.features__decor3 {
  right: 0;
  bottom: 0;
}
.features__decor4 {
  top: -0;
  right: -40px;
  bottom: 200px;
}
@media (max-width: 1440px) {
  .features__itemWrap {
    padding: 0;
  }
  .features__headItem,
  .features__discriptionItem {
    box-sizing: border-box;
    width: 100%;
    padding: 0 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .features__headItem {
    font-size: 30.72px;
    line-height: 38.4px;
  }
  .features__discriptionItem {
    font-size: 10.24px;
    line-height: 15.36px;
  }
}
@media (max-width: 768px) {
  .features__headItem {
    font-size: 43.2px;
    line-height: 54px;
  }
  .features__discriptionItem {
    font-size: 14.4px;
    line-height: 21.6px;
  }
  .features__list {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
  }
  .features__itemWrap {
    padding: 60px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child):not(:first-child) {
      border-top: 1px solid rgba(197, 197, 197, 0.15);
      border-bottom: 1px solid rgba(197, 197, 197, 0.15);
      border-left: 0;
      border-right: 0;
    }
  }
  .features__decor1 {
    top: -170px;
    left: -60px;
    transform: rotate(-60deg);
  }
  .features__decor2 {
    top: -170px;
    left: -60px;
    transform: rotate(-60deg);
  }
  .features__decor3 {
    top: 87%;
    right: -10%;
    transform: rotate(30deg);
  }
  .features__decor4 {
    top: 80%;
    right: -10%;
    transform: rotate(30deg);
  }
}
