@import "../../../../Shared/Style/globalStyleVariables.scss";

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.dashboard__purchaseWrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 34px;
  width: 50%;
}

.dashboard__header {
  margin-left: 0;
  margin-right: 28px;
  margin-top: 0;
  margin-bottom: 0;
}
.dashboard__specHeader {
}
.dashboard__purchaseList {
}
.dashboard_boardWrap {
  width: 50%;
}

.dashboard_board {
  background-color: $baseColor;
  border: 1.57px solid rgba(237, 242, 247, 1);
  border-radius: 25.13px;
  padding: 32px 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 20px 30px rgba(50, 49, 66, 0.2);
}
.dashboard__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dashboard__infoHead {
  font-family: Inter;
  font-size: 28.27px;
  font-weight: 800;
  line-height: 38.17px;
  letter-spacing: 0.3141176700592041px;
  text-align: left;
  color: rgba(26, 32, 44, 1);
  margin: 0;
  margin-bottom: 0;
}
.dashboard__select {
}

@media (max-width: 1024px) {
  .dashboard {
    flex-direction: column;
    gap: 100px;
  }
  .dashboard__purchaseWrap {
    width: 100%;
  }
  .dashboard_boardWrap {
    width: 100%;
  }
  .dashboard__purchaseList {
    position: relative;
    &::after {
      content: "";
      @include Spiralpfeil1;
      position: absolute;
      top: 100%;
      left: 68%;
      transform: rotate(-97deg);
    }
  }
  .dashboard__infoHead {
    font-size: 20.1px;
    line-height: 27.14px;
    letter-spacing: 0.22337253391742706px;
  }
}
@media (max-width: 768px) {
  .dashboard__select {
    gap: 5px;
  }
  .dashboard__infoHead {
    font-size: 16.75px;
    line-height: 22.61px;
    letter-spacing: 0.18607304990291595px;
  }
}
@media (max-width: 375px) {
}
