@import "../../../../Shared/Style/globalStyleVariables.scss";

.dishesBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dishesBlock__header {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}
.dishesBlock__specHeader {
}

.dishesBlock__list {
}
.dishesBlock__btnWpar {
  width: 100%;
  display: flex;
  justify-content: end;
}
.dishesBlock__btn {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #acadb9;
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .dishesBlock__header {
    text-align: center;
  }
}
@media (max-width: 375px) {
}
