@import "../../../../Shared/Style/globalStyleVariables.scss";

.reviewCardList {
  position: relative;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviewCardList__gallery {
  width: 100%;
  position: relative;
  height: 336px;
}
.reviewCardList__reviewsList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 46px;
  margin-top: 0;
  margin-bottom: 0;
  transition: margin 1s ease;

  padding: 0;
}
.reviewCardList__item {
}
.reviewCardList__dotsList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: calc(100% - 620px);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
}
.reviewCardList__dot {
  margin: 0;
  padding: 0;
  width: 100%;
}
.reviewCardList__dotBtn {
  height: 11px;
  border-radius: 50px;
  background-color: $primaryColor_light;
  border: 0;
  outline-color: $accentColor;
  width: 100%;
  cursor: pointer;
}
.reviewCardList__dotBtn_current {
  background-color: $primaryColor;
}

@media (max-width: 1024px) {
  .reviewCardList__dotsList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 768px) {
  .reviewCardList__gallery {
    width: 100%;
    position: relative;
    height: 210px;
  }
  .reviewCardList__reviewsList {
    gap: 26px;
  }
}
@media (max-width: 375px) {
}
